{% extends 'testuu/master.html' %}
{% load static %} 

{% block main %}
    <form role="form"  method="post"  action="FrameAdd">
    {% csrf_token %}
    <input id="frame_union" type="hidden"  name="frame_union"  value="{{ frame_union }}">
    <br>

     <div class="input-group mb-3" >
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">类型 ：</label>
      </div>
        <select name="type_id"  value="0" >
            {% for  c  in  type_id %}
                <option value="{{ c.id }}"> {{ c.name }} {{ c.id }}</option>
            {% endfor %}
        </select> <br>
    </div>

标题:  <input type="text" name="Tname">  <br>


        <input id="Num" type="hidden"  name="Num"  value="0">
        <p id="Frame_id"> </p>
        <p>添加步骤：<span> <a id="addFrameC" href="javascript:void(0);">添加</a></span> </p>

        <br>
        <button  type="submit">提 交</button>
    </form>

<!-- 两个script脚本用处,动态添加输入框    -->
<script src="{% static  'js/jquery-3.3.1.js' %}"></script>
<script>
$(function () {
    var num = 1;
    $("#addFrameC").click(function () {
        $("#Frame_id").append("<span>第"+num+"步：</span><span><input name=\"Cname"+num+"\"></span><br>");
        $("#Num").val(num);
        num += 1;
    });
});
</script>

{% endblock %}
