{% extends 'testuu/master.html' %}

{% block main %}
    <form role="form"  method="post"  action="TypeAdd">
    {% csrf_token %}

        ptid:  <select name="p_type_id"  value="0" >
                    {% for  c  in  allType %}
                        <option value="{{ c.id }}"> {{ c.name }}</option>
                    {% endfor %}
                </select> <br>

{#        level:  <input type="text" name="level">  <br>#}
        name:  <input type="text" name="name">  <br>
      <input type="submit" value="提 交">

    </form>
{% endblock %}

